{{ _("Dear") }} {{ fullname }},
<br>
<p>{{ _("A new account has been created for you") }}</p>
<p>{{ _("Please login to your account using following details") }}</p>
<p>{{ _("Your Login ID is") }} : {{ user }}</p>
<p>{{ _("Your temporary password is") }} : {{ password }}</p>
<p>{{_("Click on the link below to complete your registration and set a new password")}}.</p>
<p><b><a href="{{ link }}">{{ _("Complete Registration") }}</a></b></p>
<p>{{ _("You can also copy-paste this link in your browser") }} <a href="{{ link }}">{{ link }}</a></p>
<br>
<p>{{ _("Thank you") }},<br>
{{ _("Team Teesta" )}}</p>